<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Brand Detection</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container flex flex-col items-center justify-center">
      <h1 class="text-5xl font-bold my-5 text-indigo-500">RESULTS:</h1>
      <img class="h-96 w-96" src="<%= img%>" alt="uploaded image" />
      <ul class="my-8">
        <% for(let i = 0; i < brands.length; i++) { %>
        <li class="text-4xl font-bold text-indigo-500 text-center">
          <%= brands[i].name %> <%= brands[i].confidence.toFixed(2) %>
          confidence
        </li>
        <% } %>
      </ul>
      <a href="/" class="text-5xl hover:text-indigo-900 text-center"
        >CLICK HERE TO TRY ANOTHER IMAGE</a
      >
    </div>
  </body>
</html>
